# Test pull-request trigger for mono-repo matrix
name: Deploy monorepo apps to Dev

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'

permissions:
  id-token: write
  contents: read

jobs:
  generate-matrix:
    # See the .github/scripts/generate-matrix.sh for the details of the matrix
    # construction.
    name: Generate matrix for deploy
    runs-on: ubuntu-latest
    # This line adds a check for the user which is requesting the PR. As long as its not dependabot, we go ahead and run it. 
    if: ${{ github.triggering_actor != 'dependabot[bot]' }}
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 10
      - name: Generate matrix
        id: generate
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
          ACTION: ${{ github.event.action }}
        run: |
          chmod +x ./.github/scripts/generate-matrix.sh
          ./.github/scripts/generate-matrix.sh

  deploy:
    name: Deploy app(s) from monorepo
    needs: generate-matrix
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: ubuntu-latest
    # This line adds a check for the user which is requesting the PR. As long as its not dependabot, we go ahead and run it. 
    if: ${{ github.triggering_actor != 'dependabot[bot]' && fromJson(needs.generate-matrix.outputs.matrix).paths[0] != null }}
    steps:
      - name: Show GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Directory and Path Tests
        working-directory: ${{ matrix.paths }}
        run: |
          echo "The working directory is ${{ matrix.paths }}"
          ls -al
          pwd
