# Test published release trigger for mono-repo matrix
name: Promote monorepo apps to Prod
on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  generate-matrix:
    # See the .github/scripts/generate-matrix.sh for the details of the matrix
    # construction.
    name: Generate matrix for deploy
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Show GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 10
          fetch-tags: true

      - name: Get Previous Release
        # We list the tags, sort them, and then use sed to print the 2nd tag (the first tag is the current release)
        id: prev-release
        run: |
          PREV_TAG=$(git tag --sort=-version:refname | sed -n '2p')
          if [ -z "$PREV_TAG" ]; then
            echo "-- this is the first release --"
            echo "first_release=true" >> "$GITHUB_OUTPUT"
          else
            echo "Previous tag: $PREV_TAG"
            PREV_SHA=$(git rev-list -n 1 "$PREV_TAG")
            echo "prev_sha=$PREV_SHA" >> "$GITHUB_OUTPUT"
            echo "first_release=false" >> "$GITHUB_OUTPUT"
          fi
    
      - name: Generate matrix
        id: generate
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          HEAD_SHA: ${{ github.sha }}
          BASE_SHA: ${{ steps.prev-release.outputs.prev_sha }}
          FIRST_RELEASE: ${{ steps.prev-release.outputs.first_release }}
          ACTION: ${{ github.event.action }}
        run: |
          chmod +x ./.github/scripts/generate-matrix.sh
          ./.github/scripts/generate-matrix.sh

  promote:
    name: Promote app(s) from monorepo
    needs: generate-matrix
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: ubuntu-latest
    # Only run if the content of "paths" is not empty in the matrix 
    if: ${{ fromJson(needs.generate-matrix.outputs.matrix).paths[0] != null }}
    steps:
      - name: Show GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
